<!--{% load static %}-->
<!--<head>-->
<!--  <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
<!--</head>-->
<!--{% block content %}-->
<!--{% endblock %}-->
<!--&lt;!&ndash;footer&ndash;&gt;-->
<!--<footer class="footer">-->
<!--  <div class="footer-top section" style="background-color: hsl(217, 100%, 12%); color: hsl(218, 33%, 77%); padding: 50px 0;">-->
<!--    <div class="container" style="max-width: 1200px; margin: 0 auto;">-->
<!--      <div class="footer-brand" style="display: grid; gap: 30px;">-->
<!--        <a href="#" class="logo" style="color: hsl(0, 0%, 100%); font-size: 24px; font-weight: bold;">Medico.</a>-->

<!--        <p class="footer-text" style="line-height: 1.6; margin: 15px 0;">-->
<!--          Welcome, where exceptional patient experiences are our priority.-->
<!--          With compassionate care, state-of-the-art facilities, and a patient-centered approach, we're dedicated to your well-being.-->
<!--          Trust us with your health and experience the difference.-->
<!--        </p>-->

<!--        <div class="schedule" style="display: flex; align-items: center; gap: 15px;">-->
<!--          <div class="schedule-icon" style="background-image: var(&#45;&#45;gradient); color: var(&#45;&#45;white); font-size: 18px; padding: 11px; border-radius: 50%; width: 40px; height: 40px;">-->
<!--            <ion-icon name="time-outline"></ion-icon>-->
<!--          </div>-->

<!--          <span class="span" style="line-height: 1.6;">-->
<!--            Monday - Saturday:<br />-->
<!--            9:00am - 10:00Pm-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->




<!--    </div>-->
<!--  </div>-->

<!--  <div class="footer-bottom" style="background-color: var(&#45;&#45;oxford-blue-3); padding: 50px 0; text-align: center;">-->
<!--    <div class="container" style="max-width: 1200px; margin: 0 auto;">-->
<!--      <p class="copyright" style="color: var(&#45;&#45;white); line-height: 1.6; margin-bottom: 25px;">-->
<!--        &copy; 2024 All Rights Reserved by vishnu webz-->
<!--      </p>-->

<!--      <ul class="social-list" style="display: flex; justify-content: center; align-items: center; gap: 15px;">-->
<!--        <li>-->
<!--          <a href="#" class="social-link" style="padding: 11px; background-color: hsla(0, 0%, 100%, 0.2); color: var(&#45;&#45;white); font-size: 18px; border-radius: 50%;">-->
<!--            <ion-icon name="logo-facebook"></ion-icon>-->
<!--          </a>-->
<!--        </li>-->

<!--        <li>-->
<!--          <a href="#" class="social-link" style="padding: 11px; background-color: hsla(0, 0%, 100%, 0.2); color: var(&#45;&#45;white); font-size: 18px; border-radius: 50%;">-->
<!--            <ion-icon name="logo-instagram"></ion-icon>-->
<!--          </a>-->
<!--        </li>-->

<!--        <li>-->
<!--          <a href="#" class="social-link" style="padding: 11px; background-color: hsla(0, 0%, 100%, 0.2); color: var(&#45;&#45;white); font-size: 18px; border-radius: 50%;">-->
<!--            <ion-icon name="logo-twitter"></ion-icon>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->


<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>-->


<!--  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>-->
<!--  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>-->