{% include 'patient/patient_navbar.html' %}
{% block content %}

<section class="section dashboard" id="dashboard" aria-label="dashboard" style="margin-bottom:10px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="container">
    <div class="dashboard-card" style="box-shadow: var(--shadow-4); margin-bottom: 20px; padding: 30px; border: 1px solid var(--light-gray); border-radius: var(--radius-6); text-align: center; transition: transform 0.3s ease, box-shadow 0.3s ease;">
      <p class="section-subtitle text-center">Patient Dashboard</p>
      <h2 class="h2 section-title text-center">Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
      <br>
      <h3 class="h3 card-title" style="align-items: center; text-align: center; padding-bottom: 25px;">This is your patient dashboard.</h3>
    </div>
  </div>

  <div class="container">
    <div class="dashboard-card" style="box-shadow: var(--shadow-4); margin-bottom: 20px; padding: 30px; border: 1px solid var(--light-gray); border-radius: var(--radius-6); text-align: center; transition: transform 0.3s ease, box-shadow 0.3s ease;">
      <h3 class="h3 card-title" style="align-items: center;">Upcoming Appointment</h3>
      <ul class="list-group" style="padding-top: 10px;">
        {% for appointment in appointments %}
        <li class="list-group-item" style="text-align: left; color: var(--black);">Appointment with Dr. {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }} - ({{ appointment.doctor.department.dep_name }} Department) on {{ appointment.date }} at {{ appointment.time }}</li>
        <br>
        {% endfor %}
      </ul>
      <br>
      <a href="{% url 'patient_book_appointment' %}" class="btn btn-primary mt-3">Book a new Appointment</a>
    </div>
  </div>

  <div class="container">
    <div class="dashboard-card" style="box-shadow: var(--shadow-4); margin-bottom: 20px; padding: 30px; border: 1px solid var(--light-gray); border-radius: var(--radius-6); text-align: center; transition: transform 0.3s ease, box-shadow 0.3s ease;">
      <h3 class="h3 card-title">Your Appointments</h3>
      <ul class="appointment-list">
        {% for appointment in appointments %}
        <li class="appointment-item">
          <div class="appointment-info">
            <div><strong style="color:black;">Doctor:</strong> Dr. {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }} - ({{ appointment.doctor.department.dep_name }} Department)</div>
            <div><strong style="color:black;">Date:</strong> {{ appointment.date }}</div>
            <div><strong style="color:black;">Time:</strong> {{ appointment.time }}</div>
            <div><strong style="color:black;">Symptoms:</strong> {{ appointment.symptoms }}</div>
          </div>
        </li>
        {% empty %}
        <li>No appointments scheduled.</li>
        {% endfor %}
      </ul>
    </div>
  </div>

</section>

<style>
  .dashboard-card {
    box-shadow: var(--shadow-4);
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid var(--light-gray);
    border-radius: var(--radius-6);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .dashboard-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
  }

  .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: var(--radius-6);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .list-group {
    padding-top: 10px;
  }

  .list-group-item {
    text-align: left;
  }

  .appointment-list {
    list-style: none;
    padding: 0;
    text-align: left;
  }

  .appointment-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }

  .appointment-info {
    margin-bottom: 10px;
  }

  .appointment-info div {
    margin-bottom: 5px;
  }
</style>

{% endblock %}
