 {% include 'dashboard/index.html' %}
 {% load static %}

  <header class="header">

    <div class="header-top">
      <div class="container">

        <ul class="contact-list">

          <li class="contact-item">
            <ion-icon name="mail-outline"></ion-icon>

            <a href="mailto:info@example.com" class="contact-link">info@example.com</a>
          </li>

          <li class="contact-item">
            <ion-icon name="call-outline"></ion-icon>

            <a href="tel:+919074640425" class="contact-link">+91-907-46-40-425</a>
          </li>
          {{ user.first_name }} {{ user.last_name }}'s Dashboard    (patient dashboard)

        </ul>

        <ul class="social-list">

          <li>
            <a href="https://www.linkedin.com/in/vishnu-g-15b9201b5?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>


          <li>
            <a href="https://t.me/+hHMTtesaMN03YTQ1" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/vishnu_webz?igsh=MTFib3l5NWY4dHp3ZA==" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://x.com/VWebz?t=iclTOVYE2PR8nveGbsdrbQ&s=09" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://youtube.com/@intech.bywebz" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>

    <div class="header-bottom" data-header>
      <div class="container">

        <a href="{% url 'patient_logout_confirmation' %}"class="logo">Medico</a>

        <nav class="navbar container" data-navbar>
          <ul class="navbar-list">

            <li>
              <a href="{% url 'patient_dashboard' %}" class="navbar-link" data-nav-link>Dashboard</a>
            </li>

            <li>
              <a href="{% url 'patient_view_department' %}" class="navbar-link" data-nav-link>Departments</a>
            </li>

            <li>
              <a href="{% url 'patient_view_doctors' %}" class="navbar-link" data-nav-link>Doctors</a>
            </li>


            <li>
              <a href="{% url 'patient_book_appointment' %}" class="navbar-link" data-nav-link>Book now</a>
            </li>

            <li>
              <a href="{% url 'patient_appointment_list' %}" class="navbar-link" >Appointments</a>
            </li>

            <li>
              <a href="{% url 'patient_bill_view' %}" class="navbar-link" data-nav-link>Billings</a>
            </li>

          </ul>
        </nav>

        <form action="{% url 'patient_logout_confirmation' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Logout</button>
        </form>

        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
          <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
          <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
        </button>

      </div>
    </div>

  </header>

  <br><br><br><br><br>
  {% block content %}
  {% endblock %}