{% extends 'base/index.html' %}

{% block title %} signin for appointment {% endblock%}


{% load static%}
<!--
        - #CTA
      -->

{% block content %}

<section class="section hero" id="home" style="background-image: url('{% static 'images/hero-bg.png'%}')" aria-label="hero"> </section>
<section class="section cta" aria-label="cta">
  <div class="container">
    <figure class="cta-banner" style="margin-bottom: 45px;">
      <img src="{% static 'images/cta-banner1.png' %}" width="1056" height="1076" loading="lazy" alt="cta banner" class="w-100" />
    </figure>

    <div class="cta-content">
      <p class="section-subtitle">Book Doctor Appointment</p>

      <h2 class="h2 section-title">
        We Are open And Welcoming Patients
      </h2>

      <a href="{% url 'dashboard_home' %}" class="btn">Register to Book Appointment</a>

    </div>
  </div>
</section>


{% endblock %}
