{% load static %}
<footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="footer-brand">
        <a href="#" class="logo">Medico.</a>

        <p class="footer-text">
          Welcome, where exceptional patient experiences are our priority.
          With compassionate care, state-of-the-art facilities, and a patient-centered approach, we're dedicated to your well-being.
          Trust us with your health and experience the difference.
        </p>

        <div class="schedule">
          <div class="schedule-icon">
            <ion-icon name="time-outline"></ion-icon>
          </div>

          <span class="span">
            Monday - Saturday:<br />
            9:00am - 10:00Pm
          </span>
        </div>
      </div>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Other Links</p>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Home</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">About Us</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Services</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Project</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Our Team</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Latest Blog</span>
          </a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Our Services</p>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Root Canal</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Alignment Teeth</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Cosmetic Teeth</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Oral Hygiene</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Live Advisory</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="add-outline"></ion-icon>

            <span class="span">Cavity Inspection</span>
          </a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Contact Us</p>
        </li>

        <li class="footer-item">
          <a class="item-icon" href="{% url 'contact' %}">
            <ion-icon name="location-outline"></ion-icon>
          </a>

          <address class="item-text">
            Tatabad,Dr.RajendraPrasad Rd.<br />
            Coimbatore North, TN
          </address>
        </li>

        <li class="footer-item">
          <div class="item-icon">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="tel:+919074640425" class="footer-link">+91-907-46-40-425</a>
        </li>

        <li class="footer-item">
          <div class="item-icon">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a href="mailto:help@example.com" class="footer-link">vishnugkannath@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">
        &copy; 2024 All Rights Reserved by vishnu webz
      </p>

        <ul class="social-list">

          <li>
            <a href="https://www.linkedin.com/in/vishnu-g-15b9201b5?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>


          <li>
            <a href="https://t.me/+hHMTtesaMN03YTQ1" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/vishnu_webz?igsh=MTFib3l5NWY4dHp3ZA==" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://x.com/VWebz?t=iclTOVYE2PR8nveGbsdrbQ&s=09" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://youtube.com/@intech.bywebz" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>
    </div>
  </div>
</footer>