<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} index {% endblock%}</title>


    <!-- Link Swiper's CSS -->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />-->
    <!--remix icon-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <!--
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml" />

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />


    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Roboto:wght@400;500;600&display=swap" rel="stylesheet" />
</head>

<body id="top">
    <!--
    - #HEADER
  -->
{% include 'base/navbar.html' %}


{% block content %}
{% endblock %}

        <!--
        - #SERVICE
      -->


        <!--
        - #ABOUT
      -->


        <!--
        - #DOCTOR
      -->

    <!--
    - #FOOTER
  -->

{% include 'base/footer.html' %}

    <!--
    - #BACK TO TOP
  -->
  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
  </a>


    <!--
    - custom js link
  -->
  <script src="{% static 'js/script.js' %}" defer></script>

    <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-- Swiper JS -->
<!--   <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>-->

  </body>
</html>
